{% extends 'base.html.twig'%}

{% block body%}


<h1>Bienvenue dans ce blog ! </h1>

<p>Division d'un texte de prose, d'un discours,
 d'un chapitre qui apparaît typographiquement par un alinéa initial.
  (Dans les renvois, le paragraphe est noté .</p>
  
{% endblock%}